body {
    background: #f0f0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    h2 {
        margin-top: 20px;
    }
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    .col-5 {
        margin: 20px;
    }
}

.shop {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 17px 12px -5px rgba(0, 0, 0, 0.16);
    min-height: 700px;
}

.cart {
    padding: 20px;
    .cartProduct {
        margin-top: 20px;
    }
    .qty-input {
        max-width: 50px;
    }
    position: relative;
}

button {
    margin: 0px !important;
}

.total-price {
    position: absolute;
    bottom: -30px;
    left: 0;
    margin-top: 20px;
}

.dnd::before {
    content: "Drop item to add to cart"
}

.dnd-drop {
    border: 5px dashed #cecece;
    border-radius: 15px;
    opacity: 0.5;
}